.row
  .col-md-8.col-md-offset-2
    %h2
      %span= event.start_at.strftime('%d.%m.%Y') + ' -  Visit ' + event.animal_name + ' with ' + event.owner_name
    %br
    .col-md-6
      %h3
        %u Patients informations
      %h4
        %span Animal name:
        = animal_info.name
      %h4
        %span Animal type:
        = animal_info.animal_type.capitalize
      %h4
        %span Animal breed:
        = animal_info.breed.capitalize
      %p
        %span Sex:
        - if animal_info.sex?
          Male
        - elsif animal_info.sex.nil?
          Don't know
        - else
          Female
      %p
        %span Castration:
        - if animal_info.castration == 0
          No
        - elsif animal_info.castration == 1
          Yes
        - else
          Don't know
      %p
        %span Birth date:
        = animal_info.birth_date.strftime("%d %B %Y")
    .col-md-6
      %h3
        %u Owner informations
      %h4
        %span Full name:
        = owner_info.full_name
      %h4
        %span Phone number:
        = owner_address.phone_number
      %p
        %span E-mail:
        = owner_info.email
      %p
        %span Address:
        = owner_address.street_address
        %br
        .zip_indent
          = owner_address.zip_city
      %br
      %br
    %h2 Visit description
    .indent
      %h4= history.description
      %h2 Surgery
      - if history.surgery.nil? || history.surgery.empty?
        %h4 None
      - else
        %h4= history.surgery
      %h2 Recipe
      - if history.recipe.nil? || history.recipe.empty?
        %h4 None
      - else
        %h4= history.recipe
