.row.remider
  %ol
    - if current_user.role == 'doctor'
      %h2 Your today's patients!
      .row.event
        .col-md-3
          .col-md-6
            %h5.center Complete visit
          .col-md-6
            %h5.center Trash visit
        .col-md-9
          %h5 Titles
      .index-wrapper
        - @events.each do |event|
          .row.event
            .col-md-3
              .col-md-6
                - if event.completed?
                  .icondesign
                    %i.fa.fa-check.fa-lg
                - else
                  = link_to complete_event_path(event), method: :patch do
                    .icondesign
                      %i.fa.fa-check.fa-lg
              .col-md-6
                .icondesign
                  = link_to event_path(event), method: :delete, data: { confirm: "Are you sure?" } do
                    %i.fa.fa-trash.fa-lg
            .col-md-5
              %li
                %h4.event-title
                  - if event.completed?
                    %strike.span Visit start at:
                    = event.start_at.strftime('%H:%M')
                  - else
                    %span Visit start at:
                    = event.start_at.strftime('%H:%M')
                %p.event-desc
                  - unless event.event_type.nil?
                    %span Visit type:
                    = event.event_type + ' || '
                  %span Owner:
                  = event.owner_name
                  %span Beast type:
                  = event.animal_name
            .col-md-4.mar
              %p
                - if event.history_id.nil?
                  = link_to 'New visit description', new_event_history_path(event)
                - else
                  %strike= 'New visit description'
                %span ||
                - if event.history_id.nil?
                  %strike= 'Show visit description'
                - else
                  = link_to 'Show visit description', event_history_path(event.id, event.history_id)
                %span ||
                - if event.history_id.nil?
                  %strike= 'Edit visit description'
                - else
                  = link_to 'Edit visit description', edit_event_history_path(event.id, event.history_id)
    - else
      %h2 Your remiders
      .row.event
        .col-md-3
          .col-md-6
            %h5.center Completed visit
          .col-md-6
            %h5.center Trash visit
        .col-md-9
          %h5 Titles
      .index-wrapper
        - @events.each do |event|
          .row.event
            .col-md-3
              .col-md-6
                - if event.completed?
                  .icondesign
                    %i.fa.fa-check.fa-lg
              .col-md-6
                - if Time.now > (event.start_at - 24.hours).to_datetime
                  .icondesign
                    %strike.i.fa.fa-trash.fa-lg
                - else
                  .icondesign
                    = link_to event_path(event), method: :delete, data: { confirm: "Are you sure?" } do
                      %i.fa.fa-trash.fa-lg
            .col-md-5
              %li
                %h4.event-title
                  %span Visit Title:
                  = event.title
                  %span || Time to visit:
                  = distance_of_time_in_words(Time.now, event.start_at)
              %p.event-desc
                - unless event.event_type.nil?
                  %span Visit type:
                  = event.event_type + ' || '
                %span Doctor:
                = event.doctor_name + ' || '
                %span Beast:
                = event.animal_name
            .col-md-4.mar
              - if event.completed? && !event.history_id.nil?
                = link_to 'Show visit description', event_history_path(event.id, event.history_id)
  .col-md-4
    - if current_user.role == 'doctor'
      %h2 My Today's Patients
      - if @animals.empty?
        %h3 Day freee ;)
    - else
      %h2 My Animals
      - if @animals.empty?
        %h3
          %span Don't by shy...
          = link_to "Add your beast :)", new_animal_path
    - @animals.each do |animal|
      %h3
        %span Animal name:
        = link_to animal.name, animal
      %p
        %span Animal type:
        = animal.animal_type.capitalize.tr('_', ' ') + " || "
        %span Animal breed:
        = animal.breed
  .col-md-8.cal
    .calendar
