.row
  .col-md-8.col-md-offset-2
    %h1 Animal information
    %h3
      %span Animal name:
      = @animal.name
    %h3
      %span Animal type:
      = @animal.animal_type.capitalize.tr('_', ' ')
    %h3
      %span Animal breed:
      = @animal.breed.capitalize
    %p
      %span Sex:
      - if @animal.sex?
        Male
      - elsif @animal.sex.nil?
        Don't know
      - else
        Female
    %p
      %span Castration:
      - if @animal.castration == 0
        No
      - elsif @animal.castration == 1
        Yes
      - else
        Don't know
    %p
      %span Birth date:
      = @animal.birth_date.strftime("%d %B %Y")
    .links.btn-group
      = link_to "Edit", edit_animal_path(@animal), class: "btn btn-info"
      = link_to "Delete", animal_path(@animal), method: :delete,
        data: { confirm: "Are you sure?" }, class: "btn btn-danger"
      = link_to "Back", :back, class: "btn btn-default"
